<!DOCTYPE html>
<html>
  <head>
    <title>魅舞倾情</title>
    <meta name='keywords' content='影未央' + '|' + '樱魅舞' />
    <meta name='description' content='魅舞倾情,此生未央,生生世世,情不间断。'/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type='text/javascript'>
      var _vds = _vds || [];
      window._vds = _vds;
      (function(){
        _vds.push(['setAccountId', '8febe970a22a3a57']);
        (function() {
          var vds = document.createElement('script');
          vds.type='text/javascript';
          vds.async = true;
          vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(vds, s);
        })();
      })();
    </script>
  </head>
  <body>
    <a href="<%= logout_path %>">注销</a>
    <%= yield %>
    <script>
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?1c26270f328338396b88e5521856fee7";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </body>
</html>
